body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(148, 22, 127) 3%, rgba(233, 52, 121) 38%, rgba(249, 172, 83) 68%, rgba(246, 46, 151) 78%, rgba(21, 60, 180) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
}


nav {
    margin-top: 40px;
    padding: 24px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.pM {
    margin-top: 150px;
}

.shadow {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

nav a {
    transition: 0.3s ease;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 20px 0;
    margin: 0 5px;
    font-size: 17px;
}

nav a:hover {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    padding: 6px 0;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.card {

    width: 100%;
    max-width: 400px;
    padding: 4rem 2.5rem;

    background: rgba(53, 27, 27, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.cb2 {
    background: rgba(53, 27, 27, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.bg-custom-1 {
    background: rgba(53, 27, 27, 0.15)!important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37)!important;
    backdrop-filter: blur(4px)!important;
    -webkit-backdrop-filter: blur(4px)!important;
    border-radius: 10px!important;
    border: 1px solid rgba(255, 255, 255, 0.18)!important;
}
